* {
    user-select: none;
}

#header-large {
    display: initial;
}

#header-small {
    display: none;
}

.hover-white:hover {
    color: white !important;
}

.row-hover:hover {
    background-color: #eee !important;
}

.active-gray:active {
    color: black;
    background-color: #e8e8e8 !important;
}

.s-selected {
    background-color: #eee !important;
}

.status-0 {
    background-color: #e5f6e5;
}

.status-1 {
    background-color: #fdedec;
}

.status-2 {
    background-color: #fdf4e5;
}

.status-3 {
    background-color: #e5f1fd;
}

div.leaflet-top.leaflet-right{
    display: none !important;
    width: 0px !important;
    height: 0px !important;
}

.custom-width {
    width: 100% !important;
}

@media (max-width: 768px) {
    #header-large {
        display: none;
    }

    #header-small {
        display: initial;
    }

    #layout {
        padding: 20px 12px !important;
    }

    #layout-bg {
        min-height: 390px !important;
    }

    #input {
        flex-direction: column;
    }

    #input select {
        width: 100% !important;
        max-width: 100% !important;
    }

    #input div {
        widtH: 100%;
    }

    #input input {
        width: 100% !important;
        max-width: 100% !important;
    }

    .hide-breakpoint {
        display: none !important;
    }

    .date-width {
        width: 135px !important;
    }

    .flex-column-break {
        flex-direction: column !important;
    }

    .custom-margin {
        margin: 0 auto !important;
    }

    .custom-width {
        width: 400px !important;
    }
}